body {
background-image: radial-gradient(#e8e8f9 0.5px, transparent 0.5px);
background-size: 51px 51px;
background-color: #190a2e;
text-align: center;
}
header{
   padding-top: 10px;
}
a {
   color: #0f0847;
   font-weight: 600;
}
.container {
   background: linear-gradient(-20deg, #eee3e0 0%, #f7c882 100%);
   max-width: 600px;
   margin: auto;
   padding: 20px;
   box-shadow: -28px 22px 20px 2px rgba(229, 225, 225, 0.18);
   border-radius: 18px;
   font-family: "Playfair Display", serif;
   font-weight: 400px;
   display:block;
     
}
.city-input {
   background-color:aliceblue;
   border: #190a2e ridge 2px;
   padding: 13px 17px;
   border-radius: 10px;
   width: 50%;

}
.enter-search {
   background-color: #0f0847;
   color: aliceblue;
   padding: 13px 17px;
   font-size: 16px;
   border-radius: 10px;
   margin-left: 10px;

}
.search-bar {
   margin: 0 auto;
   text-align: center;
}
.main-img{
   display: block;
   
}
h1 {
   text-align: center;
}
.main-city {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600px;
  font-style: normal;
  font-size: 42px;
  font-stretch: ultra-expanded;
  text-align: center;

}
.polor-grid{
   display: grid;
   height:fit-content;
   grid-row: 2;
   grid-template-columns:1fr 1fr 1fr 1fr 1fr;
   justify-content:center;
   font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
   font-size: 14px;
   margin-bottom: 25px;
}

.grid-low{
   grid-column: 1;
   grid-row: 1;

}
.grid-high {
   grid-column: 5;
   grid-row: 1;
}
.polor-temps{
    grid-column: 1;
   grid-row: 2;
}
.high-temp{
    grid-column: 5;
   grid-row: 2;
}
.grid-details-today{
   display:grid;
   height:fit-content;
   grid-row: 1;
   grid-template-columns:1fr 1fr 1fr;
   justify-content:space-evenly;
   margin-left: 25px;
   margin-right: 25px;
  
   
}
footer {
   padding-top: 15px;
   border-top: 4px inset rgba(48, 4, 66, 0.288);
   border-radius: 20px;
   text-align: center;
   font-size: 14px;
   font-weight: 500;
   
}